body, html{

}

#title{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.titleContainer{
    height: 3em;
}

.searchBarContainer{
    height: 2em;
}

.searchbar{
    display: flex;
    justify-content: center;
    position: absolute;
}

.searchform{
    height: 2em;
}

.settingsContainer{
    display: flex;
    flex-wrap: wrap;
}

.settingsTitle{
    margin-top: 0;
    text-align: center;
}

.resultsTitle{
    margin-top: 0;
    margin-bottom: 0;
}

.filterbar{
    display: flex;
    justify-content: center;
}

.filterform{
    display: flex;
    justify-content: stretch;
    flex-direction: column;
    height: 10em;
}

.filterinput{
    display:flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}

.filterinput > input{
    justify-self: center;
}

.filterSubmitButton{
    margin: 0 auto;
    /* justify-self: center; */
    height: 4em;
    width: 7em;
}

.settings{
    margin-left: 1em;
    margin-right: 1em;
}

.sortbar{
    display: flex;
    justify-content: center;
}

.searchresults{
    text-align: center;
}

.bookGrid{
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
}

.bookItem{
    margin: 1em;
    height: 14em;
    width: 14em;
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.bookList{
}

.listCover{
    height: 6em;
    width: 6em;
    margin: 0 auto;
}

.listdetails{
    line-height: 50%;
}

.booktitle{
    font: 12;
    font-weight: bold;
}

.authorlist{
    font: 10;
}

.detailsButton{
    width: 50%;
    margin: 0 auto;
}

.detailCover{
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column
}

.showSettings{
    /* display:flex; */
    text-align: center;
}

.spanSetting{
    font-size: 14px;
}

.sortform{
    display: flex;
    flex-direction: column;
}

.booksFound{
    margin-top: 0;
    font-size: 12px;
}
